<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/CSS/bootstrap.min.css" />
    <link rel="stylesheet" href="/CSS/PagesCss/stepper.css" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>M-11</title>
  </head>
  <body>
    <div id="contentArea">
      <!----------------------------------------------- NAVBAR START------------------------------ -->
      <nav
        class="navbar navbar-dark"
        style="width: 100%; height: 60px; background-color: black"
      >
        <div class="container-fluid">
          <img
            src="/Images/logo_new_transp 1.png"
            style="height: 45px; width: 36px"
          />
        </div>
      </nav>
      <!-- -----------------------------------------------NAVBAR END--------------------------------- -->
      <!-- -----------------------------------------------ENERGY RENOVATION PAGE  : PAGE START------------------------------------------------------------ -->
      <div
        id="model-delete-Page"
        style="
          display: flex;
          flex-direction: column;
          width: 100%;
          height: 100%;
          /* height: calc(100vh - 64px); */
          overflow-y: scroll;
          scrollbar-width: none;
        "
      >
        <div
          style="
            width: 100%;
            padding: 25px;
            margin-top: 20px;
            margin-left: 20px;
          "
        >
          <h5 style="color: #28d362">Solution</h5>
          <div style="display: flex; flex-direction: column; gap: 10px">
            <h3 style="font-weight: bold">Energy renovation</h3>
            <p style="word-spacing: 5px">
              Orange Simulation has identified the perfect energy retrofit
              solution for you. With these given choices, you achieve the best
              price-performance ratio and the highest energy and CO2 savings for
              your building. If you're not satisfied with our solution, simply
              adjust the measures accordingly.
            </p>
          </div>
          <div
            class="mt-3"
            style="
              width: 100%;
              display: flex;
              gap: 30px;
              justify-content: center;
            "
          >
            <!-- ------CARD 1----- -->
            <div
              class="p-2 px-5"
              style="
                border: 1px solid #767676;
                border-radius: 15px;
                width: 30%;
                display: flex;
                flex-direction: column;
                gap: 2px;
              "
            >
              <p
                style="
                  font-size: 18px;
                  color: #46a1b5;
                  font-weight: 500;
                  margin: 0;
                "
              >
                ENERGY SAVINGS
              </p>
              <p style="font-size: 30px; font-weight: 700; margin: 0">
                1.500<span
                  style="font-size: 13px; font-weight: 500; margin-left: 12px"
                  >kwh per year</span
                >
              </p>
              <div style="display: flex; align-items: center">
                <img
                  src="../Images/Group 10407.png"
                  style="width: 20px; height: 20px"
                />
                <p
                  style="
                    margin: 0;
                    margin-left: 5px;
                    color: #28d362;
                    font-weight: 500;
                  "
                >
                  -36 % total savings
                </p>
              </div>
            </div>
            <!-- ------CARD 2----- -->
            <div
              class="p-2 px-5"
              style="
                border: 1px solid #767676;
                border-radius: 15px;
                width: 30%;
                display: flex;
                flex-direction: column;
                gap: 2px;
              "
            >
              <p
                style="
                  font-size: 18px;
                  color: #46a1b5;
                  font-weight: 500;
                  margin: 0;
                "
              >
                ENERGY SAVINGS
              </p>
              <p style="font-size: 30px; font-weight: 700; margin: 0">
                1.500<span
                  style="font-size: 13px; font-weight: 500; margin-left: 12px"
                  >kwh per year</span
                >
              </p>
              <div style="display: flex; align-items: center">
                <img
                  src="../Images/Group 10407.png"
                  style="width: 20px; height: 20px"
                />
                <p
                  style="
                    margin: 0;
                    margin-left: 5px;
                    color: #28d362;
                    font-weight: 500;
                  "
                >
                  -36 % total savings
                </p>
              </div>
            </div>
            <!-- ------CARD 3----- -->
            <div
              class="p-2 px-5"
              style="
                border: 1px solid #767676;
                border-radius: 15px;
                width: 30%;
                display: flex;
                flex-direction: column;
                gap: 2px;
              "
            >
              <p
                style="
                  font-size: 18px;
                  color: #46a1b5;
                  font-weight: 500;
                  margin: 0;
                "
              >
                ENERGY SAVINGS
              </p>
              <p style="font-size: 30px; font-weight: 700; margin: 0">
                1.500<span
                  style="font-size: 13px; font-weight: 500; margin-left: 12px"
                  >kwh per year</span
                >
              </p>
              <div style="display: flex; align-items: center">
                <img
                  src="../Images/Group 10407.png"
                  style="width: 20px; height: 20px"
                />
                <p
                  style="
                    margin: 0;
                    margin-left: 5px;
                    color: #28d362;
                    font-weight: 500;
                  "
                >
                  -36 % total savings
                </p>
              </div>
            </div>
          </div>
        </div>
        <div style="display: flex; width: 100%">
          <!-- ------------------[  DIV 1  START] ------------------------------->
          <div
            style="
              display: flex;
              flex-direction: column;
              /* gap: 15px; */

              width: 75%;
              height: 100%;
              padding: 10px;
            "
          >
            <div style="margin-top: 20px; margin-left: 30px">
              <div style="margin-top: 20px">
                <select
                  class="form-select"
                  aria-label="Default select example"
                  style="
                    width: 450px;
                    margin-top: 2px;
                    font-size: 22px;
                    font-weight: bold;
                    height: 55px;
                    color: #46a1b5;
                    border-bottom: 2px solid #46a1b5;
                    border-top: none;
                    border-left: none;
                    border-right: none;
                  "
                >
                  <option selected>STEP 1 | THERMAL COVER</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>
              <div class="mt-4" style="margin-top: 20px">
                <p style="font-size: 13px; margin-bottom: 0; font-weight: 500">
                  Ventilation Type
                </p>
                <select
                  class="form-select mt-2"
                  aria-label="Default select example"
                  style="
                    width: 450px;
                    margin-top: 2px;
                    font-size: 13px;
                    height: 50px;
                    border-bottom: 2px solid #46a1b5;
                    border-top: none;
                    border-left: none;
                    border-right: none;
                  "
                >
                  <option selected>No exchange</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>
              <div class="mt-4" style="margin-top: 20px">
                <p style="font-size: 13px; margin-bottom: 0; font-weight: 500">
                  Ventilation Type
                </p>
                <select
                  class="form-select mt-2"
                  aria-label="Default select example"
                  style="
                    width: 450px;
                    margin-top: 2px;
                    font-size: 13px;
                    height: 50px;
                    border-bottom: 2px solid #46a1b5;
                    border-top: none;
                    border-left: none;
                    border-right: none;
                  "
                >
                  <option selected>No exchange</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>
              <div class="mt-4" style="margin-top: 20px">
                <p style="font-size: 13px; margin-bottom: 0; font-weight: 500">
                  Ventilation Type
                </p>
                <select
                  class="form-select mt-2"
                  aria-label="Default select example"
                  style="
                    width: 450px;
                    margin-top: 2px;
                    font-size: 13px;
                    height: 50px;
                    border-bottom: 2px solid #46a1b5;
                    border-top: none;
                    border-left: none;
                    border-right: none;
                  "
                >
                  <option selected>No exchange</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>
              <div class="mt-4" style="margin-top: 20px">
                <p style="font-size: 13px; margin-bottom: 0; font-weight: 500">
                  Ventilation Type
                </p>
                <select
                  class="form-select mt-2"
                  aria-label="Default select example"
                  style="
                    width: 450px;
                    margin-top: 2px;
                    font-size: 13px;
                    height: 50px;
                    border-bottom: 2px solid #46a1b5;
                    border-top: none;
                    border-left: none;
                    border-right: none;
                  "
                >
                  <option selected>No exchange</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>
              <div class="mt-4" style="margin-top: 20px">
                <p style="font-size: 13px; margin-bottom: 0; font-weight: 500">
                  Ventilation Type
                </p>
                <select
                  class="form-select mt-2"
                  aria-label="Default select example"
                  style="
                    width: 450px;
                    margin-top: 2px;
                    font-size: 13px;
                    height: 50px;
                    border-bottom: 2px solid #46a1b5;
                    border-top: none;
                    border-left: none;
                    border-right: none;
                  "
                >
                  <option selected>No exchange</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>
              <div class="mt-4" style="margin-top: 20px">
                <p style="font-size: 13px; margin-bottom: 0; font-weight: 500">
                  Ventilation Type
                </p>
                <select
                  class="form-select mt-2"
                  aria-label="Default select example"
                  style="
                    width: 450px;
                    margin-top: 2px;
                    font-size: 13px;
                    height: 50px;
                    border-bottom: 2px solid #46a1b5;
                    border-top: none;
                    border-left: none;
                    border-right: none;
                  "
                >
                  <option selected>No exchange</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>
            </div>
            <div style="margin-top: 20px; margin-left: 30px">
              <div style="margin-top: 20px">
                <select
                  class="form-select"
                  aria-label="Default select example"
                  style="
                    width: 450px;
                    margin-top: 2px;
                    font-size: 22px;
                    font-weight: bold;
                    height: 55px;
                    color: #46a1b5;
                    border-bottom: 2px solid #46a1b5;
                    border-top: none;
                    border-left: none;
                    border-right: none;
                  "
                >
                  <option selected>STEP 1 | THERMAL COVER</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>
              <div class="mt-4" style="margin-top: 20px">
                <p style="font-size: 13px; margin-bottom: 0; font-weight: 500">
                  Ventilation Type
                </p>
                <select
                  class="form-select mt-2"
                  aria-label="Default select example"
                  style="
                    width: 450px;
                    margin-top: 2px;
                    font-size: 13px;
                    height: 50px;
                    border-bottom: 2px solid #46a1b5;
                    border-top: none;
                    border-left: none;
                    border-right: none;
                  "
                >
                  <option selected>No exchange</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>
              <div class="mt-4" style="margin-top: 20px">
                <p style="font-size: 13px; margin-bottom: 0; font-weight: 500">
                  Ventilation Type
                </p>
                <select
                  class="form-select mt-2"
                  aria-label="Default select example"
                  style="
                    width: 450px;
                    margin-top: 2px;
                    font-size: 13px;
                    height: 50px;
                    border-bottom: 2px solid #46a1b5;
                    border-top: none;
                    border-left: none;
                    border-right: none;
                  "
                >
                  <option selected>No exchange</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>
              <div class="mt-4" style="margin-top: 20px">
                <p style="font-size: 13px; margin-bottom: 0; font-weight: 500">
                  Ventilation Type
                </p>
                <select
                  class="form-select mt-2"
                  aria-label="Default select example"
                  style="
                    width: 450px;
                    margin-top: 2px;
                    font-size: 13px;
                    height: 50px;
                    border-bottom: 2px solid #46a1b5;
                    border-top: none;
                    border-left: none;
                    border-right: none;
                  "
                >
                  <option selected>No exchange</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>
              <div class="mt-4" style="margin-top: 20px">
                <p style="font-size: 13px; margin-bottom: 0; font-weight: 500">
                  Ventilation Type
                </p>
                <select
                  class="form-select mt-2"
                  aria-label="Default select example"
                  style="
                    width: 450px;
                    margin-top: 2px;
                    font-size: 13px;
                    height: 50px;
                    border-bottom: 2px solid #46a1b5;
                    border-top: none;
                    border-left: none;
                    border-right: none;
                  "
                >
                  <option selected>No exchange</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>
              <div class="mt-4" style="margin-top: 20px">
                <p style="font-size: 13px; margin-bottom: 0; font-weight: 500">
                  Ventilation Type
                </p>
                <select
                  class="form-select mt-2"
                  aria-label="Default select example"
                  style="
                    width: 450px;
                    margin-top: 2px;
                    font-size: 13px;
                    height: 50px;
                    border-bottom: 2px solid #46a1b5;
                    border-top: none;
                    border-left: none;
                    border-right: none;
                  "
                >
                  <option selected>No exchange</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>
              <div class="mt-4" style="margin-top: 20px">
                <p style="font-size: 13px; margin-bottom: 0; font-weight: 500">
                  Ventilation Type
                </p>
                <select
                  class="form-select mt-2"
                  aria-label="Default select example"
                  style="
                    width: 450px;
                    margin-top: 2px;
                    font-size: 13px;
                    height: 50px;
                    border-bottom: 2px solid #46a1b5;
                    border-top: none;
                    border-left: none;
                    border-right: none;
                  "
                >
                  <option selected>No exchange</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>
              <!-- RADIO BUTTONS -->

              <div class="mt-4">
                <p style="font-size: 13px; margin-bottom: 0; font-weight: 500">
                  Building automation
                </p>
                <div class="form-check form-check-inline mt-3">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="inlineRadioOptions"
                    id="inlineRadio1"
                    value="option1"
                  />
                  <label class="form-check-label" for="inlineRadio1">No</label>
                </div>
                <div class="form-check form-check-inline">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="inlineRadioOptions"
                    id="inlineRadio2"
                    value="option2"
                  />
                  <label class="form-check-label" for="inlineRadio2">Yes</label>
                </div>
              </div>
              <div>
                <p style="font-size: 13px; margin-bottom: 0; font-weight: 500">
                  Hydraulic balancing
                </p>
                <div class="form-check form-check-inline mt-3">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="inlineRadioOptions"
                    id="inlineRadio1"
                    value="option1"
                  />
                  <label class="form-check-label" for="inlineRadio1">No</label>
                </div>
                <div class="form-check form-check-inline">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="inlineRadioOptions"
                    id="inlineRadio2"
                    value="option2"
                  />
                  <label class="form-check-label" for="inlineRadio2">Yes</label>
                </div>
              </div>

              <!-- ---------------- -->
            </div>
            <div style="margin-top: 20px; margin-left: 30px">
              <div style="margin-top: 20px">
                <select
                  class="form-select"
                  aria-label="Default select example"
                  style="
                    width: 450px;
                    margin-top: 2px;
                    font-size: 22px;
                    font-weight: bold;
                    height: 55px;
                    color: #46a1b5;
                    border-bottom: 2px solid #46a1b5;
                    border-top: none;
                    border-left: none;
                    border-right: none;
                  "
                >
                  <option selected>STEP 3 | RENEWABLE ENERGY</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>

              <!-- RADIO BUTTONS -->
              <div class="mt-4">
                <p style="font-size: 13px; margin-bottom: 0; font-weight: 500">
                  Solar system (for hot water)
                </p>
                <div class="form-check form-check-inline mt-3">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="inlineRadioOptions"
                    id="inlineRadio1"
                    value="option1"
                  />
                  <label class="form-check-label" for="inlineRadio1">No</label>
                </div>
                <div class="form-check form-check-inline">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="inlineRadioOptions"
                    id="inlineRadio2"
                    value="option2"
                  />
                  <label class="form-check-label" for="inlineRadio2">Yes</label>
                </div>
              </div>
              <div class="mt-4">
                <p style="font-size: 13px; margin-bottom: 0; font-weight: 500">
                  PV syetem
                </p>
                <div class="form-check form-check-inline mt-3">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="inlineRadioOptions"
                    id="inlineRadio1"
                    value="option1"
                  />
                  <label class="form-check-label" for="inlineRadio1">No</label>
                </div>
                <div class="form-check form-check-inline">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="inlineRadioOptions"
                    id="inlineRadio2"
                    value="option2"
                  />
                  <label class="form-check-label" for="inlineRadio2">Yes</label>
                </div>
              </div>

              <!-- ---------------- -->
              <div class="dropdown mt-4 mb-5">
                <button
                  class="btn dropdown-toggle"
                  type="button"
                  id="dropdownMenuButton1"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                  style="font-weight: 500; font-size: 13px"
                >
                  Dropdown button
                </button>
                <div
                  class="dropdown-menu"
                  aria-labelledby="dropdownMenuButton1"
                >
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </div>
              <div style="display: flex; gap: 10px">
                <button
                  class="mb-1"
                  style="
                    border-radius: 10px;
                    width: 130px;
                    padding: 8px;
                    font-weight: 500;
                    border: none;
                    background-color: #3284ff;
                    color: #ffff;
                    padding: 14px;
                  "
                >
                  Back
                </button>
                <button
                  class="mb-1"
                  style="
                    border-radius: 10px;
                    width: 130px;
                    padding: 8px;
                    font-weight: 500;
                    border: none;
                    background-color: #3284ff;
                    color: #ffff;
                  "
                >
                  Next Step
                </button>
              </div>
            </div>
          </div>
          <!-- ------------------[  DIV 1  END] ------------------------------->

          <!------------------------------------ STEPPER START------------------------------------------------- -->
          <div style="width: 25%; margin-top: 40px">
            <div class="steps">
              <div class="step">
                <div class="step-header">
                  <div class="header">Modeling</div>
                </div>

                <div class="step-content one">
                  <!-- <button class="next-btn">Next</button> -->
                  <p class="next-btn stepper-btn">Modeling</p>
                  <p class="next-btn stepper-btn">Windows</p>
                </div>
              </div>
              <div class="step minimized">
                <div class="step-header">
                  <div class="header">Building</div>
                </div>
                <div class="step-content one">
                  <p class="next-btn stepper-btn">Modeling</p>
                  <p class="next-btn stepper-btn">Windows</p>
                </div>
              </div>
              <div class="step minimized">
                <div class="step-header">
                  <div class="header">HVAC</div>
                </div>
                <div class="step-content one">
                  <p class="next-btn stepper-btn">Modeling</p>
                  <p class="next-btn stepper-btn">Windows</p>
                </div>
              </div>
              <div class="step minimized">
                <div class="step-header">
                  <div class="header">Refurb</div>
                </div>
                <div class="step-content one">
                  <p class="next-btn stepper-btn">Modeling</p>
                  <p class="next-btn stepper-btn">Windows</p>
                </div>
              </div>
              <div class="step minimized">
                <div class="step-header">
                  <div class="header">Renovation</div>
                </div>
                <div class="step-content one">
                  <p class="next-btn stepper-btn">Modeling</p>
                  <p class="next-btn stepper-btn">Windows</p>
                </div>
              </div>
              <div class="step minimized">
                <div class="step-header">
                  <div class="header">Results</div>
                </div>
                <div class="step-content one">
                  <p class="next-btn stepper-btn">Modeling</p>
                  <p class="next-btn stepper-btn">Windows</p>
                </div>
              </div>
            </div>
          </div>
          <!-- ----------------------------------STEPPER END------------------------------------------------------------ -->
        </div>
      </div>

      <!-- -----------------------------------------------MODEL DELETE: PAGE END------------------------------------------------------------ -->
      <!-- -----------------------------------------------FOOTER START------------------------------------------------------------ -->
      <div
        style="
          display: flex;
          flex-direction: column;
          width: 100%;
          justify-content: center;
          align-items: center;
          background-color: black;
          color: white;
          height: 40px;
        "
      >
        <p style="font-size: 10px; text-align: center; margin-top: 6px">
          Copyright &copy; 2024. All rights reserved.
        </p>
      </div>
      <!-- -----------------------------------------------FOOTER END------------------------------------------------------------ -->
    </div>

    <script src="/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
      let curOpen;

      $(document).ready(function () {
        curOpen = $(".step")[0];

        $(".next-btn").on("click", function () {
          let cur = $(this).closest(".step");
          let next = $(cur).next();
          $(cur).addClass("minimized");
          setTimeout(function () {
            $(next).removeClass("minimized");
            curOpen = $(next);
          }, 400);
        });

        $(".close-btn").on("click", function () {
          let cur = $(this).closest(".step");
          $(cur).addClass("minimized");
          curOpen = null;
        });

        $(".step .step-content").on("click", function (e) {
          e.stopPropagation();
        });

        $(".step").on("click", function () {
          if (!$(this).hasClass("minimized")) {
            curOpen = null;
            $(this).addClass("minimized");
          } else {
            let next = $(this);
            if (curOpen === null) {
              curOpen = next;
              $(curOpen).removeClass("minimized");
            } else {
              $(curOpen).addClass("minimized");
              setTimeout(function () {
                $(next).removeClass("minimized");
                curOpen = $(next);
              }, 300);
            }
          }
        });
      });
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
