<!DOCTYPE html>
<html lang="en">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/CSS/bootstrap.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>M-24</title>
  </head>
  <body>
    <div
      id="contentArea"
    >
      <!----------------------------------------------- NAVBAR START------------------------------ -->
      <nav
        class="navbar navbar-dark"
        style="width: 100%; height: 60px; background-color: black"
      >
        <div class="container-fluid">
          <img
            src="/Images/logo_new_transp 1.png"
            style="height: 45px; width: 36px"
          />
        </div>
      </nav>
      <!-- -----------------------------------------------NAVBAR END--------------------------------- -->
      <!-- -----------------------------------------------FINAL RENOVATION GUIDE: PAGE START------------------------------------------------------------ -->
      <div
        id="addressPage"
        style="
          display: flex;
          flex-direction: column;

          width: 100%;
          height: 100%;
          /* height: calc(100vh - 64px); */
          padding: 20px;
        "
      >
      <!-- -----------------------------------------------TOP SECTION------------------------------------------------------------ -->
        <div>
          <p style="color: #5cb85c; font-weight: 500">
            PLANUNG IST ABGESCHLOSSEN!
          </p>
          <h2>Dein Sanierungsleitfaden</h2>
          <p style="font-size: 15px;">
            Herzlichen Glückwunsch zu Ihrer Entscheidung, das Thema
            Energieefﬁzienzsteigerung und Renovierung in Angriff zu nehmen! Wir
            freuen uns, Ihnen nun den</br>Abschlussbericht unserer digitalen Energieberatung und
            Renovierungshilfe zu überreichen.
          </p>
          
        </div>
        <!-- -----------------------------------------------CARD SECTION------------------------------------------------------------ -->
        <div>
                <div class="row justify-content-center mt-3">
                  <!-- ------CARD 1----- -->
                  <div class="col-sm-10 col-md-6 col-lg-4">
                    <div class="p-3 px-4 border" style="display: flex;border-radius: 20px;box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                    ">
                        <div style=" width: 70%;height: auto;">
                      <p class=" mb-0" style="font-size: 14px; margin-bottom: 0; font-weight: 600;color:#6B7B93">ENERGY SAVINGS</p>
                      <p class="fs-2 fw-bold mb-0">750<span class="fs-6 fw-500 ms-2">kWh </span></p>
                      <div class="d-flex align-items-center ;">
                        <div style="display: flex;justify-content: space-evenly;align-items: center; height: 40px ; width: 90px;background-color: #CCF5E7;border-radius:10px ;">
                        <img src="../Images/Line 20.png" style=" height: 25px" alt="Icon" />
                        <p class="mt-3 " style=" font-size: 18px;  font-weight:bold ;color:#00CC88">
                            36%
                        </p>
                    </div>
                        <p class="mt-2" style="font-size: 16px;margin-left: 10px;font-weight: 500;color:#6B7B93">Einsparung pro Jahr</p>
                      </div>
                    </div>
                    <div  style=" display: flex;align-items: center;justify-content: center ; width: 30%;">
                        <div style="display: flex;align-items: center;justify-content: center ; height: 60px ; width: 60px; border: 5px solid #00CC88;border-radius:50px ;">
                        <img src="../Images/Vector.png  "/>
                        </div>
                    </div>
                    </div>
                  </div>
                  <!-- ------CARD 2----- -->
                  <div class="col-sm-10 col-md-6 col-lg-4">
                    <div class="p-3 px-4 border" style="display: flex;border-radius: 20px;box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                    ">
                        <div style=" width: 70%;height: auto;">
                      <p class=" mb-0" style="font-size: 14px; margin-bottom: 0; font-weight: 600;color:#6B7B93">ENERGY SAVINGS</p>
                      <p class="fs-2 fw-bold mb-0">750<span class="fs-6 fw-500 ms-2">kWh </span></p>
                      <div class="d-flex align-items-center ;">
                        <div style="display: flex;justify-content: space-evenly;align-items: center; height: 40px ; width: 90px;background-color: #CCF5E7;border-radius:10px ;">
                        <img src="../Images/Line 20.png" style=" height: 25px" alt="Icon" />
                        <p class="mt-3 " style=" font-size: 18px;  font-weight:bold ;color:#00CC88">
                            36%
                        </p>
                    </div>
                        <p class="mt-2" style="font-size: 16px;margin-left: 10px;font-weight: 500;color:#6B7B93">Einsparung pro Jahr</p>
                      </div>
                    </div>
                    <div  style=" display: flex;align-items: center;justify-content: center ; width: 30%;">
                        <div style="display: flex;align-items: center;justify-content: center ; height: 60px ; width: 60px; border: 5px solid #00CC88;border-radius:50px ;">
                        <img src="../Images/Vector.png  "/>
                        </div>
                    </div>
                    </div>
                  </div>
                  <!-- ------CARD 3----- -->
                  <div class="col-sm-10 col-md-6 col-lg-4">
                    <div class="p-3 px-4 border" style="display: flex;border-radius: 20px;box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                    ">
                        <div style=" width: 70%;height: auto;">
                      <p class=" mb-0" style="font-size: 14px; margin-bottom: 0; font-weight: 600;color:#6B7B93">ENERGY SAVINGS</p>
                      <p class="fs-2 fw-bold mb-0">750<span class="fs-6 fw-500 ms-2">kWh </span></p>
                      <div class="d-flex align-items-center ;">
                        <div style="display: flex;justify-content: space-evenly;align-items: center; height: 40px ; width: 90px;background-color: #CCF5E7;border-radius:10px ;">
                        <img src="../Images/Line 20.png" style=" height: 25px" alt="Icon" />
                        <p class="mt-3 " style=" font-size: 18px;  font-weight:bold ;color:#00CC88">
                            36%
                        </p>
                    </div>
                        <p class="mt-2" style="font-size: 16px;margin-left: 10px;font-weight: 500;color:#6B7B93">Einsparung pro Jahr</p>
                      </div>
                    </div>
                    <div  style=" display: flex;align-items: center;justify-content: center ; width: 30%;">
                        <div style="display: flex;align-items: center;justify-content: center ; height: 60px ; width: 60px; border: 5px solid #00CC88;border-radius:50px ;">
                        <img src="../Images/Vector.png  "/>
                        </div>
                    </div>
                    </div>
                  </div>
                </div>
              
            
        </div>
        <!-- ----------------------------------------BODY START ---------------------------------------------------- -->
<div class="mt-4" style=" display: flex;align-items: center;justify-content: center   ;width: 100%;height: 40px;">
    <div  style="width: 80%;height: 40px;border: 2px solid  #4682B4;border-radius: 10px;">
    <p class="mt-2" style="text-align: center; font-size: 14px;">Gerne kannst Du unser Startup in seiner entscheidenden Gründungsphase ﬁnanziell zu unterstützen, unter xxx@paypal </p>
</div>

</div>
<h3 class="mt-5" style="text-align: center;">Energetische Sanierung</h3>
<p class="mt-3" style="font-size: 14px;text-align: center;">
    Die Energieverbräuche für Ihr Gebäude im IST-Zustand lassen sich wie folgtIhr Energie- und CO-Verbrauch im IST-Zustand: untergliedern
</p>
<!-- ----------------------------------------PIE CHART SECTION ---------------------------------------------------- -->
<div style=" display: flex ; width :100%;">
    <div style="width: 50%; ">
        <!-- <img src="../Images/Mask group.png" style="width: 460px; height: 250px" alt="Icon" /> -->
        <canvas id="myChart" style="width:100%;max-width:600px"></canvas>

     </div>
     <div style="display: flex; flex-direction: column  ;justify-content: center;  align-items: center;  width: 50%; ">
        <!-- ------------------------------1--------------------------------------- -->
    <div style="width: 100%; display: flex; justify-content: space-around; align-items: center;">
    <div class="d-flex " style="align-items: center;gap:10px">
        <img src="../Images/Vector.png" />
        <p  class="mt-2" style="font-size: 22px ;color:#525F7F;font-weight: 600;"> Energie</p>
    </div>
    <div style="display: flex;gap:10px">
        <p style="font-size: 20px; font-weight: 600;">24810</p>
        <p style="font-size: 20px; font-weight: 600;">kWh pro Jahr</p>
    </div>
</div>
<!-- ----------------------------------------2---------------------------------------- -->
<div style="width: 100%; display: flex; justify-content: space-around; align-items: center;">
    <div class="d-flex " style="align-items: center;gap:10px">
        <img src="../Images/cloud-check--cloud-network-internet-check-server-approve.png" />
        <p  class="mt-2" style="font-size: 22px ;color:#525F7F;font-weight: 600;"> CO<sub>2</sub></p>
    </div>
    <div style="display: flex;gap:10px">
        <p style="font-size: 20px; font-weight: 600;">7</p>
        <p style="font-size: 20px; font-weight: 600;">Tonnen pro Jahr</p>
    </div>
</div>
    </div>
    
</div>
<!-- ----------------------------------------BODY PARAGRAPH ---------------------------------------------------- -->
<div class="mt-4" >
    <p style="font-size: 13px; text-align: center;font-weight: 600;">
        There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200
    </p>
</div>
<!-- ----------------------------------------ENERGY SCALE ---------------------------------------------------- -->
<div style="width: 100%; display: flex; flex-direction: column;justify-content: center;align-items: center;  overflow: hidden;">
    <div style="width: 60%;  overflow: hidden; display: flex; justify-content: center; border: 1px solid black; border-radius: 50px;">
        <span class="rating-label" style="color: #ffff; font-weight: 700; padding: 10px; width: 100px; text-align: center; background-color: #009933; color: white;">A+</span>
        <span class="rating-label" style="color: #ffff; font-weight: 700; padding: 10px; width: 100px; text-align: center; background-color: green;">A</span>
        <span class="rating-label" style="color: #ffff; font-weight: 700; padding: 10px; width: 100px; text-align: center; background-color: lightgreen;">B</span>
        <span class="rating-label" style="color: #ffff; font-weight: 700; padding: 10px; width: 100px; text-align: center; background-color: yellow;">C</span>
        <span class="rating-label" style="color: #ffff; font-weight: 700; padding: 10px; width: 100px; text-align: center; background-color: orange;">D</span>
        <span class="rating-label" style="color: #ffff; font-weight: 700; padding: 10px; width: 100px; text-align: center; background-color: red;">E</span>
        <span class="rating-label" style="color: #ffff; font-weight: 700; padding: 10px; width: 100px; text-align: center; background-color: darkred;">F</span>
        <span class="rating-label" style="color: #ffff; font-weight: 700; padding: 10px; width: 100px; text-align: center; background-color: #cc0000; color: white;">G</span>
    </div>
    <div style="width: 60%;  overflow: hidden; display: flex; justify-content: center; ">
        <span class="rating-label" style="color: #525F7F; font-weight: 700; padding: 10px; width: 100px; text-align: center; background-color:transparent; ">A+</span>
        <span class="rating-label" style="color: #525F7F; font-weight: 700; padding: 10px; width: 100px; text-align: center; background-color:transparent;">A</span>
        <span class="rating-label" style="color: #525F7F; font-weight: 700; padding: 10px; width: 100px; text-align: center; background-color:transparent;">B</span>
        <span class="rating-label" style="color: #525F7F; font-weight: 700; padding: 10px; width: 100px; text-align: center; background-color:transparent;">C</span>
        <span class="rating-label" style="color: #525F7F; font-weight: 700; padding: 10px; width: 100px; text-align: center; background-color:transparent;">D</span>
        <span class="rating-label" style="color: #525F7F; font-weight: 700; padding: 10px; width: 100px; text-align: center; background-color:transparent;">E</span>
        <span class="rating-label" style="color: #525F7F; font-weight: 700; padding: 10px; width: 100px; text-align: center; background-color:transparent;">F</span>
        <span class="rating-label" style="color: #525F7F; font-weight: 700; padding: 10px; width: 100px; text-align: center; background-color:transparent;">G</span>
    </div>
    
</div>
<!-- ----------------------------------------ENERGY SCALE end---------------------------------------------------- -->
<div class="mt-4" >
    <p style="font-size: 13px; text-align: center;font-weight: 600;">
        Infolge der Simulation der thermischen Hülle und der verwendeten Gebäudeausrüstung (Heizung & Co.) ergibt sich ein derzeitiger<br/>
        Primärenergiebedarf von insgesamt 112 kWh/m2 pro Jahr
    </p>
</div>
<!-- ----------------------------------------#ENERGIE - SOLL  start ---------------------------------------------------- -->
<div >
<p style="font-size: 17px;  font-weight: 500;padding:10px ;color:#4682B4;border-top:1px solid black ; border-bottom: 1px solid black;"> #ENERGIE - SOLL</p>
<p class="mt-2" style="font-size: 14px;font-weight: 600;">
    Infolge Ihrer Auswahl in Orange-Simulation ergeben sich folgende energetische Sanierungsmaßnahmen am Gebäude:
</p>

    <ul>
        <li  style="margin-bottom: 10px;">Maßnahme 1</li>
        <li  style="margin-bottom: 10px;">Maßnahme 2</li>
        <li  style="margin-bottom: 10px;">Maßnahme 3</li>
        <li  style="margin-bottom: 10px;">Maßnahme 4</li>
        <li  style="margin-bottom: 10px;">Maßnahme 5</li>
        <li  style="margin-bottom: 10px;">Maßnahme 6</li>
        <li  style="margin-bottom: 10px;">Maßnahme 7</li>
        <li  style="margin-bottom: 10px;">Maßnahme 8</li>
        
    </ul>
    <p class="mt-2" style="font-size: 14px;font-weight: 600;">
        Aufgrund der genannten Maßnahmen ergeben sich folgende Einsparungen an Energie in kWh pro Jahr:
    </p>
</div>

<!-- -------------------------------------------- #ENERGIE - SOLL  TABLE START------------------------------------------------ -->
<div class="mt-4" style="width: 100%; display: flex; justify-content: center;">
    <table style="border-collapse: collapse;width: 100%;">
        <tr style="text-align: center;">
            <th></th>
            <th style="text-align: center; color:#4682B4;font-size: 14px;">Column Two</th>
            <th style="text-align: center; color:#4682B4;font-size: 14px;">Column Three</th>
            <th style="text-align: center; color:#4682B4;font-size: 14px;">Column Four</th>
            <th style="text-align: center; color:#4682B4;font-size: 14px;">Column Five</th>
        </tr>
        <tr>
            <td style="font-size: 14px; text-align: center;font-weight: 600;">john</td>
            <td style="font-size: 14px; text-align: center;font-weight: 600;">marshall</td>
            <td style="font-size: 14px; text-align: center;font-weight: 600;">john</td>
            <td style="font-size: 14px; text-align: center;font-weight: 600;">marshall</td>
            <td style="font-size: 14px; text-align: center;font-weight: 600;">marshall</td>
        </tr>
        <tr>
            <td style="font-size: 14px; text-align: center;font-weight: 600;">john</td>
            <td style="font-size: 14px; text-align: center;font-weight: 600;">marshall</td>
            <td style="font-size: 14px; text-align: center;font-weight: 600;">john</td>
            <td style="font-size: 14px; text-align: center;font-weight: 600;">marshall</td>
            <td style="font-size: 14px; text-align: center;font-weight: 600;">marshall</td>
        </tr>
        <tr>
            <td style="font-size: 14px; text-align: center;font-weight: 600;">john</td>
            <td style="font-size: 14px; text-align: center;font-weight: 600;">marshall</td>
            <td style="font-size: 14px; text-align: center;font-weight: 600;">john</td>
            <td style="font-size: 14px; text-align: center;font-weight: 600;">marshall</td>
            <td style="font-size: 14px; text-align: center;font-weight: 600;">marshall</td>
        </tr>
        <tr>
            <td style="font-size: 14px; text-align: center;font-weight: 600;">john</td>
            <td style="font-size: 14px; text-align: center;font-weight: 600;">marshall</td>
            <td style="font-size: 14px; text-align: center;font-weight: 600;">john</td>
            <td style="font-size: 14px; text-align: center;font-weight: 600;">marshall</td>
            <td style="font-size: 14px; text-align: center;font-weight: 600;">marshall</td>
        </tr>
        <tr>
            <td style="font-size: 14px; text-align: center;font-weight: 600;">john</td>
            <td style="font-size: 14px; text-align: center;font-weight: 600;">marshall</td>
            <td style="font-size: 14px; text-align: center;font-weight: 600;">john</td>
            <td style="font-size: 14px; text-align: center;font-weight: 600;">marshall</td>
            <td style="font-size: 14px; text-align: center;font-weight: 600;">marshall</td>
        </tr>

    </table>

</div>
<p class="mt-4" style="font-size: 13px;font-weight: 600;">
    Mit den empfohlenen Maßnahmen können insgesamt XXX kWh an Energie eingespart werden. Das ergibt eine Einsparung von  des Soll-Zustandesgegenüber dem IST-Zustand.
</p>

<!-- ----------------------------------------#INVESTITION - SOLL start ---------------------------------------------------- -->
<div  class="mt-3">
    <p  style="font-size: 17px;  font-weight: 500;padding:10px ;color:#4682B4;border-top:1px solid black ; border-bottom: 1px solid black;"> 
        #INVESTITION - SOLL
    </p>
   <p class="mt-4" style="font-size: 14px;font-weight: 600;">
            Neben den Einsparungen werden auch die einzelnen Investitionskosten dargestellt sowie mögliche Förderungen für Einzelmaßnahmen durch das BAFA
            Neben den Einsparungen werden auch die einzelnen Investitionskosten dargestellt sowie mögliche Förderungen für Einzelmaßnahmen durch das BAFA
            Neben den Einsparungen werden auch die einzelnen Investitionskosten dargestellt sowie mögliche Förderungen für Einzelmaßnahmen durch das BAFA
             Aufgrund der genannten Maßnahmen ergeben sich folgende Einsparungen an Energie in kWh pro Jahr:
        </p>
    </div>

    <!------------------------------ #INVESTITION - SOLL -TABLE START ----------------------------------------->
    
    <div class="mt-4" style="width: 100%; display: flex; justify-content: center;">
        <table style="border-collapse: collapse;width: 100%;">
            <tr style="text-align: center;">
                <th></th>
                <th style="text-align: center; color:#4682B4;font-size: 14px;">Column Two</th>
                <th style="text-align: center; color:#4682B4;font-size: 14px;">Column Three</th>
                <th style="text-align: center; color:#4682B4;font-size: 14px;">Column Four</th>
                <th style="text-align: center; color:#4682B4;font-size: 14px;">Column Five</th>
            </tr>
            <tr>
                <td style="font-size: 14px; text-align: center;font-weight: 600;">john</td>
                <td style="font-size: 14px; text-align: center;font-weight: 600;">marshall</td>
                <td style="font-size: 14px; text-align: center;font-weight: 600;">john</td>
                <td style="font-size: 14px; text-align: center;font-weight: 600;">marshall</td>
                <td style="font-size: 14px; text-align: center;font-weight: 600;">marshall</td>
            </tr>
            <tr>
                <td style="font-size: 14px; text-align: center;font-weight: 600;">john</td>
                <td style="font-size: 14px; text-align: center;font-weight: 600;">marshall</td>
                <td style="font-size: 14px; text-align: center;font-weight: 600;">john</td>
                <td style="font-size: 14px; text-align: center;font-weight: 600;">marshall</td>
                <td style="font-size: 14px; text-align: center;font-weight: 600;">marshall</td>
            </tr>
            <tr>
                <td style="font-size: 14px; text-align: center;font-weight: 600;">john</td>
                <td style="font-size: 14px; text-align: center;font-weight: 600;">marshall</td>
                <td style="font-size: 14px; text-align: center;font-weight: 600;">john</td>
                <td style="font-size: 14px; text-align: center;font-weight: 600;">marshall</td>
                <td style="font-size: 14px; text-align: center;font-weight: 600;">marshall</td>
            </tr>
            <tr>
                <td style="font-size: 14px; text-align: center;font-weight: 600;">john</td>
                <td style="font-size: 14px; text-align: center;font-weight: 600;">marshall</td>
                <td style="font-size: 14px; text-align: center;font-weight: 600;">john</td>
                <td style="font-size: 14px; text-align: center;font-weight: 600;">marshall</td>
                <td style="font-size: 14px; text-align: center;font-weight: 600;">marshall</td>
            </tr>
            <tr>
                <td style="font-size: 14px; text-align: center;font-weight: 600;">john</td>
                <td style="font-size: 14px; text-align: center;font-weight: 600;">marshall</td>
                <td style="font-size: 14px; text-align: center;font-weight: 600;">john</td>
                <td style="font-size: 14px; text-align: center;font-weight: 600;">marshall</td>
                <td style="font-size: 14px; text-align: center;font-weight: 600;">marshall</td>
            </tr>
    
        </table>
    
    </div>
    <p class="mt-5" style="font-size: 14px;font-weight: 600;text-align: center;">
        In nachfolgenderGraﬁk wir der Amortisationsverlauf aller energetischer Maßnahmen zusammengefasst dargestellt:
    </p>
    <!-- ----------------------------------------BAR GRAPH SECTION----------------------------------------------->
    <div class="mt-2" style="width: 100%;display: flex;justify-content: center;">
        <!-- <img src="/Images/Mask group2.png"  style="height: 400px;margin: 0;"/> -->
        <canvas id="myChartBar" style="width:100%;max-width:600px"></canvas>


    </div>

    <!-- ----------------------------------------#AUSWIRKUNG - SOLL ---------------------------------------------------- -->
<div  class="mt-3">
    <p  style="font-size: 17px;  font-weight: 500;padding:10px ;color:#4682B4;border-top:1px solid black ; border-bottom: 1px solid black;"> 
        #AUSWIRKUNG - SOLL
    </p>
   <p class="mt-4" style="font-size: 14px;font-weight: 600;">
    Der gegenwärtige Endenergiebedarf reduziert sich infolgedessen auf etwa  Förderungen für Einzelmaßnahmen durch das BAFA
            Neben den Einsparungen werden auch die einzelnen Investitionskosten dargestellt sowie mögliche Förderungen für Einzelmaßnahmen durch das BAFA
            Neben den Einsparungen werden auch die einzelnen Investitionskosten dargestellt sowie mögliche Förderungen für Einzelmaßnahmen durch das BAFA
             Aufgrund der genannten Maßnahmen ergeben sich folgende Einsparungen an Energie in kWh pro Jahr:
        </p>
    </div>
    <!-- ----------------------------------------ENERGY SCALE ---------------------------------------------------- -->
<div class="mt-5" style="width: 100%; display: flex; flex-direction: column;justify-content: center;align-items: center;  overflow: hidden;">
    <div style="width: 60%;  overflow: hidden; display: flex; justify-content: center; border: 1px solid black; border-radius: 50px;">
        <span class="rating-label" style="color: #ffff; font-weight: 700; padding: 10px; width: 100px; text-align: center; background-color: #009933; color: white;">A+</span>
        <span class="rating-label" style="color: #ffff; font-weight: 700; padding: 10px; width: 100px; text-align: center; background-color: green;">A</span>
        <span class="rating-label" style="color: #ffff; font-weight: 700; padding: 10px; width: 100px; text-align: center; background-color: lightgreen;">B</span>
        <span class="rating-label" style="color: #ffff; font-weight: 700; padding: 10px; width: 100px; text-align: center; background-color: yellow;">C</span>
        <span class="rating-label" style="color: #ffff; font-weight: 700; padding: 10px; width: 100px; text-align: center; background-color: orange;">D</span>
        <span class="rating-label" style="color: #ffff; font-weight: 700; padding: 10px; width: 100px; text-align: center; background-color: red;">E</span>
        <span class="rating-label" style="color: #ffff; font-weight: 700; padding: 10px; width: 100px; text-align: center; background-color: darkred;">F</span>
        <span class="rating-label" style="color: #ffff; font-weight: 700; padding: 10px; width: 100px; text-align: center; background-color: #cc0000; color: white;">G</span>
    </div>
    <div style="width: 60%;  overflow: hidden; display: flex; justify-content: center; ">
        <span class="rating-label" style="color: #525F7F; font-weight: 700; padding: 10px; width: 100px; text-align: center; background-color:transparent; ">A+</span>
        <span class="rating-label" style="color: #525F7F; font-weight: 700; padding: 10px; width: 100px; text-align: center; background-color:transparent;">A</span>
        <span class="rating-label" style="color: #525F7F; font-weight: 700; padding: 10px; width: 100px; text-align: center; background-color:transparent;">B</span>
        <span class="rating-label" style="color: #525F7F; font-weight: 700; padding: 10px; width: 100px; text-align: center; background-color:transparent;">C</span>
        <span class="rating-label" style="color: #525F7F; font-weight: 700; padding: 10px; width: 100px; text-align: center; background-color:transparent;">D</span>
        <span class="rating-label" style="color: #525F7F; font-weight: 700; padding: 10px; width: 100px; text-align: center; background-color:transparent;">E</span>
        <span class="rating-label" style="color: #525F7F; font-weight: 700; padding: 10px; width: 100px; text-align: center; background-color:transparent;">F</span>
        <span class="rating-label" style="color: #525F7F; font-weight: 700; padding: 10px; width: 100px; text-align: center; background-color:transparent;">G</span>
    </div>
    
</div>

<p class="mt-4" style="font-size: 14px;font-weight: 600;text-align: center;">
    Aufgrund der dargestellten Modernisierungsmaßnahmen wird der Primärenergiebedarf des Gebäudes auf <br/>
    19 kWh/m2 gesenkt.
</p>
<!----------------------------------------------- Bauliche Renovierung------------------------------------------------------------ -->
<div class="mt-4" >
    <h3 style="text-align: center;">Bauliche Renovierung</h3>
    <p class="mt-4" style="font-size: 14px;font-weight: 600;">Infolge Ihrer Auswahl in Orange-Simulation ergeben sich folgende bauliche Renovierungsarbeiten am Gebäude:</p>
   <div class="mt-4" style="border-bottom: 1px solid #767676;" >
    <div style="width: 100%; display: flex; justify-content: space-between;">
    <p class="mt-1" style="font-size: 14px;font-weight: 600;">neuen Kellerfußboden einsetzen</p><p style="font-weight: 500;">212 <span style="margin-left: 10px;">EUR</span></p>
</div>
<div style="width: 100%; display: flex; justify-content: space-between;">
    <p class="mt-1" style="font-size: 14px;font-weight: 600;">Ausbesserungen des oberJächennahen Bereichs _außen</p><p style="font-weight: 500;">212 <span style="margin-left: 10px;">EUR</span></p>
</div>
<div style="width: 100%; display: flex; justify-content: space-between;">
    <p class="mt-1" style="font-size: 14px;font-weight: 600;">Hauseingangstür instandsetzen</p><p style="font-weight: 500;">212 <span style="margin-left: 10px;">EUR</span></p>
</div>
<div style="width: 100%; display: flex; justify-content: space-between;">
    <p class="mt-1" style="font-size: 14px;font-weight: 600;">Fenster und Fenstertüren instandsetzen</p><p style="font-weight: 500;">212 <span style="margin-left: 10px;">EUR</span></p>
</div>
<div style="width: 100%; display: flex; justify-content: space-between;">
    <p class="mt-1" style="font-size: 14px;font-weight: 600;">Dach instandsetzen</p><p style="font-weight: 500;">212 <span style="margin-left: 10px;">EUR</span></p>
</div>
</div>
 <div style="width: 100%; display: flex; justify-content: space-between;">
    <p class="mt-1" style="font-size: 14px;font-weight: 600;">Gesamtsumme</p><p style="font-weight: 500;">1704 <span style="margin-left: 10px;">EUR</span></p>
</div></div>
<!-- ----------------------------------------------- Zusammenfassung der Ergebnisse section ------------------------------------------------------------ -->
<div class="mt-4">
    <h3 style="text-align: center;">Bauliche Renovierung</h3>
    <p class="mt-4" style="font-size: 14px;font-weight: 600;">
        Die energetische Sanierung und bauliche Renovierung werdenmit der Umsetzung der gelisteten Maßnahmen erfolgreich abgeschlossen. Das Gebäude erfüllt nun
        einen hohen energetischen Standard, der dem übergeordneten Ziel eines nahezu klimaneutralen Gebäudebestands entspricht. Die von Ihnen ausgewählten
        Renovierungsarbeiten wurden entsprechend in der Kalkulation berücksichtigt. Die nachfolgende Tabelle enthält eine detaillierte Auﬂistung über die
        zusammengefasste Bewertung Ihres Gebäudes.
    </p>
</div>

 <!-- ----------------------------------------BAR GRAPH SECTION----------------------------------------------->
 <div class="mt-2" style="width: 100%;display: flex;justify-content: center;">
    <!-- <img src="/Images/Mask group3.png"  style="height: 400px;margin: 0;"/> -->
    <canvas id="myChartBar2" style="width:100%;max-width:600px"></canvas>



</div>
<!-- -------------------------------------------- #LAST TABLE START------------------------------------------------ -->
<div class="mt-4" style="width: 100%; display: flex; justify-content: center;">
    <table style="border-collapse: collapse;width: 100%;">
        <tr style="text-align: center;">
            <th></th>
            <th style="text-align: 3enter; color:#4682B4;font-size: 14px;">IST</th>
            <th style="text-align: 3enter; color:#4682B4;font-size: 14px;">SOLL</th>
            <th style="text-align: 3enter; color:#4682B4;font-size: 14px;">Einsparung</th>
            <th style="text-align: 3enter; color:#4682B4;font-size: 14px;">Einsparung in %</th>
        </tr>
        <tr>
            <td style="font-size: 13px; text-align: center;font-weight: 600;padding-top:15px">Endenergiebedarf <br/>| kWh/Jahr</td>
            <td style="font-size: 13px; text-align: center;font-weight: 600;padding-top:15px">24810</td>
            <td style="font-size: 13px; text-align: center;font-weight: 600;padding-top:15px">-</td>
            <td style="font-size: 13px; text-align: center;font-weight: 600;padding-top:15px">3</td>
            <td style="font-size: 13px; text-align: center;font-weight: 600;padding-top:15px">12</td>
        </tr>
        <tr>
            <td style="font-size: 13px; text-align: center;font-weight: 600;padding-top:15px">Primärenergiebedarf <br/>| kWh/Jahr</td>
            <td style="font-size: 13px; text-align: center;font-weight: 600;padding-top:15px">112</td>
            <td style="font-size: 13px; text-align: center;font-weight: 600;padding-top:15px">-</td>
            <td style="font-size: 13px; text-align: center;font-weight: 600;padding-top:15px">-</td>
            <td style="font-size: 13px; text-align: center;font-weight: 600;padding-top:15px">16</td>
        </tr>
        <tr>
            <td style="font-size: 13px; text-align: center;font-weight: 600;padding-top:15px">CO<sub>2</sub> Emissionen <br/>| kWh/Jahr</td>
            <td style="font-size: 13px; text-align: center;font-weight: 600;padding-top:15px">7</td>
            <td style="font-size: 13px; text-align: center;font-weight: 600;padding-top:15px">-</td>
            <td style="font-size: 13px; text-align: center;font-weight: 600;padding-top:15px">14</td>
            <td style="font-size: 13px; text-align: center;font-weight: 600;padding-top:15px">18</td>
        </tr>
        <tr>
            <td style="font-size: 13px; text-align: center;font-weight: 600;padding-top:15px">Energiekosten <br/>| kWh/Jahr</td>
            <td style="font-size: 13px; text-align: center;font-weight: 600;padding-top:15px">-</td>
            <td style="font-size: 13px; text-align: center;font-weight: 600;padding-top:15px">20</td>
            <td style="font-size: 13px; text-align: center;font-weight: 600;padding-top:15px">20</td>
            <td style="font-size: 13px; text-align: center;font-weight: 600;padding-top:15px">-</td>
        </tr>
        <tr>
            <td style="font-size: 13px; text-align: center;font-weight: 600;padding-top:15px">Investitionskosten <br/>| kWh/Jahr</td>
            <td style="font-size: 13px; text-align: center;font-weight: 600;padding-top:15px">-</td>
            <td style="font-size: 13px; text-align: center;font-weight: 600;padding-top:15px">200</td>
            <td style="font-size: 13px; text-align: center;font-weight: 600;padding-top:15px">19</td>
            <td style="font-size: 13px; text-align: center;font-weight: 600;padding-top:15px">40</td>
        </tr>

    </table>

</div>
<p class="mt-4" style="font-size: 13px;font-weight: 600;text-align: center;">
    Mit den empfohlenen Maßnahmen können insgesamt XXX kWh an Energie eingespart werden. Das ergibt eine Einsparung von  des Soll-Zustandesgegenüber dem IST-Zustand.
</p>
<p class="mt-4" style="font-size: 13px;font-weight: 600;text-align: center;">Hier kannst du deinen persönlichen Beratungsbericht downloaden.</p>
<!-- -----------------------------------------------  DOWNLOAD BUTTON------------------------------------------------------ -->
<div class="mt-4" style="display: flex;justify-content: center;">
    <button class="btn-primary" style="background-color: gray;border: none;padding: 10px;border-radius: 5px;font-size: 14px;">Download Bericht</button>
</div>
<p class="mt-4" style="font-size: 13px;font-weight: 600;text-align: center;">
    Mit den empfohlenen Maßnahmen können insgesamt XXX kWh an Energie eingespart werden..
</p>
<!-- ----------------------------------------------------------------------------------------------------- -->
</div>
</div>
      <!-- -----------------------------------------------MODEL 1: PAGE END------------------------------------------------------------ -->
      <!-- -----------------------------------------------FOOTER START------------------------------------------------------------ -->
      <div
        style="
          display: flex;
          flex-direction: column;
          width: 100%;
          justify-content: center;
          align-items: center;
          background-color: black;
          color: white;
          height: 40px;
        "
      >
        <p style="font-size: 10px; text-align: center; margin-top: 6px">
          Copyright &copy; 2024. All rights reserved.
        </p>
      </div>
      <!-- -----------------------------------------------FOOTER END------------------------------------------------------------ -->
    </div>

    <script src="/js/bootstrap.min.js"></script>
    <!-- BAR 1 -->
    <script>
        var xValues = ["Italy", "France", "Spain", "USA", "Argentina"];
        var yValues = [55, 49, 44, 24, 15];
        var barColors = ["red", "green","blue","orange","brown"];
        
        new Chart("myChartBar", {
          type: "bar",
          data: {
            labels: xValues,
            datasets: [{
              backgroundColor: barColors,
              data: yValues
            }]
          },
          options: {
            legend: {display: false},
            title: {
              display: true,
              text: "World Wine Production 2018"
            }
          }
        });
        </script>
        <!-- BAR 2 -->
        <script>
            var xValues = ["Italy", "France", "Spain", "USA", "Argentina"];
            var yValues = [55, 49, 44, 24, 15];
            var barColors = ["red", "green","blue","orange","brown"];
            
            new Chart("myChartBar2", {
              type: "bar",
              data: {
                labels: xValues,
                datasets: [{
                  backgroundColor: barColors,
                  data: yValues
                }]
              },
              options: {
                legend: {display: false},
                title: {
                  display: true,
                  text: "World Wine Production 2018"
                }
              }
            });
            </script>
        <!-- PIE -->
        <script>
            var xValues = ["Italy", "France", "Spain", "USA", "Argentina"];
            var yValues = [55, 49, 44, 24, 15];
            var barColors = [
              "#b91d47",
              "#00aba9",
              "#2b5797",
              "#e8c3b9",
              "#1e7145"
            ];
            
            new Chart("myChart", {
              type: "pie",
              data: {
                labels: xValues,
                datasets: [{
                  backgroundColor: barColors,
                  data: yValues
                }]
              },
              options: {
                title: {
                  display: true,
                  text: "World Wide Wine Production 2018"
                }
              }
            });
            </script>
            
  </body>
</html>
