<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/CSS/bootstrap.min.css" />
    <link rel="stylesheet" href="/CSS/PagesCss/stepper.css" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>M-7</title>
  </head>
  <body>
    <div id="contentArea">
      <!----------------------------------------------- NAVBAR START------------------------------ -->
      <nav
        class="navbar navbar-dark"
        style="width: 100%; height: 60px; background-color: black"
      >
        <div class="container-fluid">
          <img
            src="/Images/logo_new_transp 1.png"
            style="height: 45px; width: 36px"
          />
        </div>
      </nav>
      <!-- -----------------------------------------------NAVBAR END--------------------------------- -->
      <!-- -----------------------------------------------HEATING SYSTEM page  : PAGE START------------------------------------------------------------ -->
      <div
        id="model-delete-Page"
        style="
          display: flex;
          width: 100%;
          height: 100%;
          /* height: calc(100vh - 64px); */
          overflow-y: scroll;
          scrollbar-width: none;
        "
      >
        <!-- ------------------[  DIV 1  START] ------------------------------->
        <div
          style="
            display: flex;
            flex-direction: column;
            /* gap: 15px; */

            width: 75%;
            height: 100%;
            padding: 10px;
          "
        >
          <div style="margin-top: 20px; margin-left: 30px">
            <div>
              <p style="font-size: 18px; font-weight: 500; color: red">
                current status
              </p>
              <h4>Heating System</h4>
            </div>
            <div style="margin-top: 20px">
              <p style="font-size: 13px; margin-bottom: 0; font-weight: 500">
                Current heating system
              </p>
              <select
                class="form-select"
                aria-label="Default select example"
                style="
                  width: 450px;
                  margin-top: 2px;
                  font-size: 13px;
                  height: 50px;
                  border-bottom: 2px solid #46a1b5;
                  border-top: none;
                  border-left: none;
                  border-right: none;
                "
              >
                <option selected>No exchange</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
            <div style="margin-top: 20px">
              <p style="font-size: 13px; margin-bottom: 0; font-weight: 500">
                Current heating medium
              </p>
              <select
                class="form-select"
                aria-label="Default select example"
                style="
                  width: 450px;
                  margin-top: 2px;
                  font-size: 13px;
                  height: 50px;
                  border-bottom: 2px solid #46a1b5;
                  border-top: none;
                  border-left: none;
                  border-right: none;
                "
              >
                <option selected>unrenovated</option>
                <option value="1">Attic unheated</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
            <div
              style="
                display: flex;
                flex-direction: column;
                margin-bottom: 10px;
                margin-top: 20px;
              "
            >
              <label
                for="room_height_feet"
                style="
                  font-size: 13px;
                  font-weight: 500;
                  padding-right: 10px;
                  margin-top: 20px;
                "
                >Room height in meters:</label
              >
              <input
                type="text"
                style="
                  border-bottom: 2px solid #46a1b5;
                  border-top: none;
                  border-left: none;
                  border-right: none;
                  padding: 8px;
                  width: 250px;
                "
              />
            </div>
            <div style="margin-top: 20px">
              <p style="font-size: 13px; margin-bottom: 0; font-weight: 500">
                Facade
              </p>
              <select
                class="form-select"
                aria-label="Default select example"
                style="
                  width: 450px;
                  margin-top: 2px;
                  font-size: 13px;
                  height: 50px;
                  border-bottom: 2px solid #46a1b5;
                  border-top: none;
                  border-left: none;
                  border-right: none;
                "
              >
                <option selected>unrenovated</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
            <!-- [[[[[[[[[[[[[[[[[[[[[]]]]]]]]]]]]]]]]]]]]] -->
            <div style="margin-top: 20px">
              <p style="font-size: 13px; margin-bottom: 0; font-weight: 500">
                Memory (buffer memory, etc) available?
              </p>
              <div class="form-check mt-3">
                <input
                  class="form-check-input"
                  type="radio"
                  name="flexRadioDefault"
                  id="flexRadioDefault1"
                />
                <label class="form-check-label" for="flexRadioDefault1">
                  Yes
                </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="flexRadioDefault"
                  id="flexRadioDefault2"
                  checked
                />
                <label class="form-check-label" for="flexRadioDefault2">
                  No
                </label>
              </div>
            </div>
            <div class="dropdown mt-3">
              <button
                class="btn dropdown-toggle"
                type="button"
                id="dropdownMenuButton1"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
                style="font-weight: 500; font-size: 13px"
              >
                Dropdown button
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </div>
            <div class="mb-5" style="display: flex; gap: 10px">
              <button
                class="mt-5"
                style="
                  border-radius: 10px;
                  width: 130px;
                  padding: 8px;
                  font-weight: 500;
                  border: none;
                  background-color: #3284ff;
                  color: #ffff;
                  padding: 14px;
                "
              >
                Back
              </button>
              <button
                class="mt-5"
                style="
                  border-radius: 10px;
                  width: 130px;
                  padding: 8px;
                  font-weight: 500;
                  border: none;
                  background-color: #3284ff;
                  color: #ffff;
                "
              >
                Next Step
              </button>
            </div>
          </div>
        </div>
        <!-- ------------------[  DIV 1  END] ------------------------------->

        <!------------------------------------ STEPPER START------------------------------------------------- -->
        <div style="width: 25%; margin-top: 40px">
          <div class="steps">
            <div class="step">
              <div class="step-header">
                <div class="header">Modeling</div>
              </div>

              <div class="step-content one">
                <!-- <button class="next-btn">Next</button> -->
                <p class="next-btn stepper-btn">Modeling</p>
                <p class="next-btn stepper-btn">Windows</p>
              </div>
            </div>
            <div class="step minimized">
              <div class="step-header">
                <div class="header">Building</div>
              </div>
              <div class="step-content one">
                <p class="next-btn stepper-btn">Modeling</p>
                <p class="next-btn stepper-btn">Windows</p>
              </div>
            </div>
            <div class="step minimized">
              <div class="step-header">
                <div class="header">HVAC</div>
              </div>
              <div class="step-content one">
                <p class="next-btn stepper-btn">Modeling</p>
                <p class="next-btn stepper-btn">Windows</p>
              </div>
            </div>
            <div class="step minimized">
              <div class="step-header">
                <div class="header">Refurb</div>
              </div>
              <div class="step-content one">
                <p class="next-btn stepper-btn">Modeling</p>
                <p class="next-btn stepper-btn">Windows</p>
              </div>
            </div>
            <div class="step minimized">
              <div class="step-header">
                <div class="header">Renovation</div>
              </div>
              <div class="step-content one">
                <p class="next-btn stepper-btn">Modeling</p>
                <p class="next-btn stepper-btn">Windows</p>
              </div>
            </div>
            <div class="step minimized">
              <div class="step-header">
                <div class="header">Results</div>
              </div>
              <div class="step-content one">
                <p class="next-btn stepper-btn">Modeling</p>
                <p class="next-btn stepper-btn">Windows</p>
              </div>
            </div>
          </div>
        </div>
        <!-- ----------------------------------STEPPER END------------------------------------------------------------ -->
      </div>
      <!-- -----------------------------------------------MODEL DELETE: PAGE END------------------------------------------------------------ -->
      <!-- -----------------------------------------------FOOTER START------------------------------------------------------------ -->
      <div
        style="
          display: flex;
          flex-direction: column;
          width: 100%;
          justify-content: center;
          align-items: center;
          background-color: black;
          color: white;
          height: 40px;
        "
      >
        <p style="font-size: 10px; text-align: center; margin-top: 6px">
          Copyright &copy; 2024. All rights reserved.
        </p>
      </div>
      <!-- -----------------------------------------------FOOTER END------------------------------------------------------------ -->
    </div>

    <script src="/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
      let curOpen;

      $(document).ready(function () {
        curOpen = $(".step")[0];

        $(".next-btn").on("click", function () {
          let cur = $(this).closest(".step");
          let next = $(cur).next();
          $(cur).addClass("minimized");
          setTimeout(function () {
            $(next).removeClass("minimized");
            curOpen = $(next);
          }, 400);
        });

        $(".close-btn").on("click", function () {
          let cur = $(this).closest(".step");
          $(cur).addClass("minimized");
          curOpen = null;
        });

        $(".step .step-content").on("click", function (e) {
          e.stopPropagation();
        });

        $(".step").on("click", function () {
          if (!$(this).hasClass("minimized")) {
            curOpen = null;
            $(this).addClass("minimized");
          } else {
            let next = $(this);
            if (curOpen === null) {
              curOpen = next;
              $(curOpen).removeClass("minimized");
            } else {
              $(curOpen).addClass("minimized");
              setTimeout(function () {
                $(next).removeClass("minimized");
                curOpen = $(next);
              }, 300);
            }
          }
        });
      });
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
