<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/CSS/bootstrap.min.css" />
    <link rel="stylesheet" href="/CSS/PagesCss/stepper.css" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>M-21</title>
  </head>
  <body>
    <div id="contentArea">
      <!----------------------------------------------- NAVBAR START------------------------------ -->
      <nav
        class="navbar navbar-dark"
        style="width: 100%; height: 60px; background-color: black"
      >
        <div class="container-fluid">
          <img
            src="/Images/logo_new_transp 1.png"
            style="height: 45px; width: 36px"
          />
        </div>
      </nav>
      <!-- -----------------------------------------------NAVBAR END--------------------------------- -->
      <!-- -----------------------------------------------QUICK SURVERY PAGE  : PAGE START------------------------------------------------------------ -->
      <div
        id="model-delete-Page"
        style="
          display: flex;
          flex-direction: column;
          /* width: 100%; */
          /* height: 100%; */
          scrollbar-width: none;
        "
      >
        <div
          style="
            display: flex;
            flex-direction: column;
            gap: 10px;
            /* width: 100%; */
            padding: 25px;
            margin-top: 20px;
            margin-left: 20px;
          "
        >
          <h5 style="color: #28d362; margin: 0">Solution</h5>
          <h3 style="font-weight: bold; margin: 0">Energy renovation</h3>
        </div>
        <!-- ------------------[  DIV 1  START] ------------------------------->
        <div
          style="
            display: flex;
            flex-direction: column;
            padding-left: 45px;
            width: 100%;
            height: 100%;
            margin-bottom: 40px;
          "
        >
          <h6 style="font-weight: 700; margin: 0; color: #3284ff">
            GENERAL INFORMATION
          </h6>
          <div class="mt-4">
            <p
              style="
                font-size: 15px;
                margin-bottom: 0;
                font-weight: bold;
                color: #454545;
              "
            >
              Gender
            </p>
            <div style="display: flex; flex-direction: column">
              <div class="form-check form-check-inline mt-1">
                <input
                  class="form-check-input"
                  type="radio"
                  name="inlineRadioOptions"
                  id="inlineRadio1"
                  value="option1"
                />
                <label class="form-check-label" for="inlineRadio1"
                  >Female</label
                >
              </div>
              <div class="form-check form-check-inline mt-1">
                <input
                  class="form-check-input"
                  type="radio"
                  name="inlineRadioOptions"
                  id="inlineRadio1"
                  value="option1"
                />
                <label class="form-check-label" for="inlineRadio1">Male</label>
              </div>
              <div class="form-check form-check-inline mt-1">
                <input
                  class="form-check-input"
                  type="radio"
                  name="inlineRadioOptions"
                  id="inlineRadio1"
                  value="option1"
                />
                <label class="form-check-label" for="inlineRadio1"
                  >Diverse</label
                >
              </div>
            </div>
          </div>
          <div class="mt-4">
            <p
              style="
                font-size: 15px;
                margin-bottom: 0;
                font-weight: bold;
                color: #454545;
              "
            >
              How old are you?
            </p>
            <div style="display: flex; align-items: center">
              <input
                style="
                  height: 40px;
                  width: 70px;
                  border-radius: 10px;
                  border: 1px solid #808080;
                "
                ;
                border-radius:
                10px
              />
              <p style="color: #808080; margin-left: 10px; margin-top: 15px">
                Years
              </p>
            </div>
          </div>
          <div class="mt-3">
            <p
              style="
                font-size: 15px;
                margin-bottom: 0;
                font-weight: bold;
                color: #454545;
              "
            >
              What do you do?
            </p>

            <input
              type="text"
              style="
                border-bottom: 2px solid #46a1b5;
                border-top: none;
                border-left: none;
                border-right: none;
                padding: 8px;
                width: 500px;
              "
            />
          </div>
          <div class="mt-4">
            <p style="font-weight: 700; margin: 0; color: #3284ff">
              OUR SIMULATION TOOL
            </p>

            <div class="mt-1">
              <p
                style="
                  font-size: 15px;
                  margin-bottom: 0;
                  font-weight: bold;
                  color: #454545;
                "
              >
                How do you rate the section on building renovations?
              </p>
              <div style="display: flex; flex-direction: column">
                <div class="form-check form-check-inline mt-3">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="inlineRadioOptions"
                    id="inlineRadio1"
                    value="option1"
                  />
                  <label class="form-check-label" for="inlineRadio1">
                    Not necessary, energy efficiency measures are sufficient
                  </label>
                </div>
                <div class="form-check form-check-inline mt-1">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="inlineRadioOptions"
                    id="inlineRadio1"
                    value="option1"
                  />
                  <label class="form-check-label" for="inlineRadio1">
                    Very important, even more important than energy efficiency
                    renovation
                  </label>
                </div>
                <div class="form-check form-check-inline mt-1">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="inlineRadioOptions"
                    id="inlineRadio1"
                    value="option1"
                  />
                  <label class="form-check-label" for="inlineRadio1">
                    Good additional feature of the tool, I would use it
                  </label>
                </div>
                <div class="form-check form-check-inline mt-1">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="inlineRadioOptions"
                    id="inlineRadio1"
                    value="option1"
                  />
                  <label class="form-check-label" for="inlineRadio1">
                    Neutral, no opinion on this topic
                  </label>
                </div>
                <div class="form-check form-check-inline mt-1">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="inlineRadioOptions"
                    id="inlineRadio1"
                    value="option1"
                  />
                  <label class="form-check-label" for="inlineRadio1"
                    >Other Demolition Measaures</label
                  >
                </div>
                <div class="form-check form-check-inline mt-1">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="inlineRadioOptions"
                    id="inlineRadio1"
                    value="option1"
                  />
                  <label class="form-check-label" for="inlineRadio1"
                    >Desposal of materials and debris</label
                  >
                </div>
              </div>
            </div>
          </div>
          <!-- ------------1------------------- -->
          <div class="mt-4">
            <p
              style="
                font-size: 15px;
                margin-bottom: 0;
                font-weight: bold;
                color: #454545;
              "
            >
              Rate the clarity of our tool?
            </p>
            <div
              class="mt-3"
              style="display: flex; align-items: center; gap: 10px"
            >
              <span style="color: #808080">0</span>
              <input
                type="range"
                class="form-range"
                id="customRange1"
                style="width: 150px"
              />
              <span style="color: #808080">75 % of Area</span>
            </div>
            <div class="mt-3">
              <p style="font-size: 18px">Suggestions for improvement</p>
              <input
                placeholder="please fill out ..."
                style="
                  padding-left: 20px;
                  width: 500px;
                  height: 100px;
                  border: 1px solid #000000;
                  border-radius: 10px;
                "
              />
            </div>
          </div>
          <!-- -----------------2------------------ -->
          <div class="mt-4">
            <p
              style="
                font-size: 15px;
                margin-bottom: 0;
                font-weight: bold;
                color: #454545;
              "
            >
              Rate the clarity of our tool?
            </p>
            <div
              class="mt-3"
              style="display: flex; align-items: center; gap: 10px"
            >
              <span style="color: #808080">0</span>
              <input
                type="range"
                class="form-range"
                id="customRange1"
                style="width: 150px"
              />
              <span style="color: #808080">75 % of Area</span>
            </div>
            <div class="mt-3">
              <p style="font-size: 18px">Suggestions for improvement</p>
              <input
                placeholder="please fill out ..."
                style="
                  padding-left: 20px;
                  width: 500px;
                  height: 100px;
                  border: 1px solid #000000;
                  border-radius: 10px;
                "
              />
            </div>
          </div>
          <!-- -----------------3------------------ -->
          <div class="mt-4">
            <p
              style="
                font-size: 15px;
                margin-bottom: 0;
                font-weight: bold;
                color: #454545;
              "
            >
              Rate the clarity of our tool?
            </p>
            <div
              class="mt-3"
              style="display: flex; align-items: center; gap: 10px"
            >
              <span style="color: #808080">0</span>
              <input
                type="range"
                class="form-range"
                id="customRange1"
                style="width: 150px"
              />
              <span style="color: #808080">75 % of Area</span>
            </div>
            <div class="mt-3">
              <p style="font-size: 18px">Suggestions for improvement</p>
              <input
                placeholder="please fill out ..."
                style="
                  padding-left: 20px;
                  width: 500px;
                  height: 100px;
                  border: 1px solid #000000;
                  border-radius: 10px;
                "
              />
            </div>
          </div>
          <!-- -----------------4------------------ -->
          <div class="mt-4">
            <p
              style="
                font-size: 15px;
                margin-bottom: 0;
                font-weight: bold;
                color: #454545;
              "
            >
              Rate the clarity of our tool?
            </p>
            <div
              class="mt-3"
              style="display: flex; align-items: center; gap: 10px"
            >
              <span style="color: #808080">0</span>
              <input
                type="range"
                class="form-range"
                id="customRange1"
                style="width: 150px"
              />
              <span style="color: #808080">75 % of Area</span>
            </div>
            <div class="mt-3">
              <p style="font-size: 18px">Suggestions for improvement</p>
              <input
                placeholder="please fill out ..."
                style="
                  padding-left: 20px;
                  width: 500px;
                  height: 100px;
                  border: 1px solid #000000;
                  border-radius: 10px;
                "
              />
            </div>
          </div>
          <!-- -----------------5------------------ -->
          <div class="mt-4">
            <p
              style="
                font-size: 15px;
                margin-bottom: 0;
                font-weight: bold;
                color: #454545;
              "
            >
              Rate the clarity of our tool?
            </p>
            <div
              class="mt-3"
              style="display: flex; align-items: center; gap: 10px"
            >
              <span style="color: #808080">0</span>
              <input
                type="range"
                class="form-range"
                id="customRange1"
                style="width: 150px"
              />
              <span style="color: #808080">75 % of Area</span>
            </div>
            <div class="mt-3">
              <p style="font-size: 18px">Suggestions for improvement</p>
              <input
                placeholder="please fill out ..."
                style="
                  padding-left: 20px;
                  width: 500px;
                  height: 100px;
                  border: 1px solid #000000;
                  border-radius: 10px;
                "
              />
            </div>
          </div>
          <!-- -----------------6------------------ -->
          <div class="mt-4">
            <p style="font-weight: 700; margin: 0; color: #3284ff">
              DEINE MEINUNG
            </p>
            <div class="mt-4">
              <p
                style="
                  font-size: 15px;
                  margin-bottom: 0;
                  font-weight: bold;
                  color: #454545;
                "
              >
                How much would you currently pay for the tool per building if
                you like the results?
              </p>
              <div style="display: flex; align-items: center">
                <input
                  style="
                    height: 40px;
                    width: 70px;
                    border-radius: 10px;
                    border: 1px solid #808080;
                  "
                  ;
                  border-radius:
                  10px
                />
                <p style="color: #808080; margin-left: 10px; margin-top: 15px">
                  EUR
                </p>
              </div>
              <p
                class="mt-3"
                style="
                  font-size: 15px;
                  margin-bottom: 0;
                  font-weight: bold;
                  color: #454545;
                "
              >
                What was implemented worst in our tool?
              </p>
              <input
                class="mt-3"
                placeholder="please fill out ..."
                style="
                  padding-left: 20px;
                  width: 500px;
                  height: 100px;
                  border: 1px solid #000000;
                  border-radius: 10px;
                "
              />
            </div>
          </div>

          <!-- -----------------7------------------ -->
          <div class-="mt-4">
            <p
              class="mt-3"
              style="
                font-size: 15px;
                margin-bottom: 0;
                font-weight: bold;
                color: #454545;
              "
            >
              What was implemented worst in our tool?
            </p>
            <input
              class="mt-3"
              placeholder="please fill out ..."
              style="
                padding-left: 20px;
                width: 500px;
                height: 100px;
                border: 1px solid #000000;
                border-radius: 10px;
              "
            />
          </div>
          <!-- -----------------8------------------ -->
          <div class-="mt-4">
            <p
              class="mt-3"
              style="
                font-size: 15px;
                margin-bottom: 0;
                font-weight: bold;
                color: #454545;
              "
            >
              What was implemented worst in our tool?
            </p>
            <input
              class="mt-3"
              placeholder="please fill out ..."
              style="
                padding-left: 20px;
                width: 500px;
                height: 100px;
                border: 1px solid #000000;
                border-radius: 10px;
              "
            />
          </div>
          <!-- -----------------9------------------ -->
          <div class="mt-4">
            <p
              style="
                font-size: 15px;
                margin-bottom: 0;
                font-weight: bold;
                color: #454545;
              "
            >
              If the tool has been optimized according to your wishes, how much
              would you pay then?
            </p>
            <div style="display: flex; align-items: center">
              <input
                placeholder="0"
                style="
                  height: 40px;
                  width: 70px;
                  border-radius: 10px;
                  border: 1px solid #808080;
                "
                ;
                border-radius:
                10px
              />
              <p style="color: #808080; margin-left: 10px; margin-top: 15px">
                EUR
              </p>
            </div>
          </div>
          <!-- -----------------10------------------ -->
          <div
            class="mt-5"
            style="
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
              width: 100%;
              margin-bottom: 50px;
            "
          >
            <p style="font-size: 22px">Thank you very much for your support!</p>
            <button
              class="mb-1"
              style="
                border-radius: 10px;
                width: 130px;
                padding: 8px;
                font-weight: 500;
                border: none;
                background-color: #28d362;
                color: #ffff;
              "
            >
              Show Results
            </button>
          </div>
        </div>
      </div>

      <!-- -----------------------------------------------MODEL DELETE: PAGE END------------------------------------------------------------ -->
      <!-- -----------------------------------------------FOOTER START------------------------------------------------------------ -->
      <div
        style="
          display: flex;
          flex-direction: column;
          width: 100%;
          justify-content: center;
          align-items: center;
          background-color: black;
          color: white;
          height: 40px;
        "
      >
        <p style="font-size: 10px; text-align: center; margin-top: 6px">
          Copyright &copy; 2024. All rights reserved.
        </p>
      </div>
      <!-- -----------------------------------------------FOOTER END------------------------------------------------------------ -->
    </div>

    <script src="/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
      let curOpen;

      $(document).ready(function () {
        curOpen = $(".step")[0];

        $(".next-btn").on("click", function () {
          let cur = $(this).closest(".step");
          let next = $(cur).next();
          $(cur).addClass("minimized");
          setTimeout(function () {
            $(next).removeClass("minimized");
            curOpen = $(next);
          }, 400);
        });

        $(".close-btn").on("click", function () {
          let cur = $(this).closest(".step");
          $(cur).addClass("minimized");
          curOpen = null;
        });

        $(".step .step-content").on("click", function (e) {
          e.stopPropagation();
        });

        $(".step").on("click", function () {
          if (!$(this).hasClass("minimized")) {
            curOpen = null;
            $(this).addClass("minimized");
          } else {
            let next = $(this);
            if (curOpen === null) {
              curOpen = next;
              $(curOpen).removeClass("minimized");
            } else {
              $(curOpen).addClass("minimized");
              setTimeout(function () {
                $(next).removeClass("minimized");
                curOpen = $(next);
              }, 300);
            }
          }
        });
      });
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
